<mat-form-field>
  <input type="text" placeholder="Enter Location" [formControl]="formControl" matInput [matAutocomplete]="auto" >
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<button (click)="refreshPrice()">Refresh Price</button>
<div *ngFor="let selectedTicker of selectedTickers">
{{selectedTicker.ticker}} ({{selectedTicker.price}})
</div>